{% load static %}
<link rel="stylesheet" href="{% static "style.css" %}">
    <!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<body>  
<div>
<h2>{{recipe.title}}</h2>
<p>Author: </p>
<p><a href="{% url 'author_detail' recipe.author.id %}">{{ recipe.author }}</a></p>
<li>{{recipe.description}}</li>
<li>{{recipe.time_required}}</li>
<li>{{recipe.instructions}}</li>
</div>
</body>